@import url("https://fonts.googleapis.com/css2?family=Lato, sans-serif&display=swap");

.button {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;

  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  color: #F5F5F5;

  border-color: transparent;    
  padding: 14px 20px;

  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.button.button__primary {
  background: linear-gradient(115.11deg, #3E69FA 16.81%, rgba(45, 174, 245, 0.58) 78.52%);
  border: none;
}

.shareBtn {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;

  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.02em;
  // background-color: aquamarine;

  &:hover {
    cursor: pointer;
  }
}

.modal {
  padding: 40px;
  width: 400px;
  margin: auto;
}

.primaryText {
  margin: 0px;

  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 62px;
  letter-spacing: -0.02em;
}

.icons {
  display: flex;
  grid-gap: 10px;
}

.secondaryText {
  margin: 0px;

  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 62px;
  letter-spacing: -0.02em;
}

.copyField {
  padding: 5px;
  height: 40px;
  
  display: flex;
  // justify-content: center
  align-items: center;
  
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;

  border: 1px solid black;
  border-radius: 5px;
}

.copyInput {
  outline: none;
  border: none;
  width: 300px;
  padding: 5px;
  padding-right: 10px;

  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.copyBtn {
  padding: 5px 18px !important;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  padding: 0 8px;
  background: #232323;
  color: #ffffff;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}