.page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  min-height: calc(100vh - 60px);
}

.chessboardStyle {
  display: "flex";
  justify-content: "space-around";
  align-items: "center";
  flex-wrap: "wrap";
//   margin-left: 40px;
}
