@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.LiveGame {
  padding: 1rem;
  display: "flex";
  align-items: "center";
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.rightContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.chessboardStyle {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  gap:3rem;
}

.chessboardStyle div {
  // padding: 1rem;
}

.username {
  text-align: left;
}

.waitArea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.waitText {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  margin-bottom: 10px;
}