@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

.chessboardStyle {
  display: "flex";
  // justifyContent: "space-around";
  align-items: "center";
  flex-wrap: "wrap";
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: 40px;
}

.username {
  text-align: left;
}

.LiveGame {
  margin: 10px auto;
}

.waitArea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.waitText {
  font-size: 20px;
  font-family: DM Sans;
  margin-bottom: 10px;
}